<% if @errors  %>
  <ul>
    <% @errors.each do |error| %>
    <li>
      <%= error %>
    </li>
    <% end %>
  </ul>
<% end %>


<%= form_tag "/users/#{@user["id"]}", method: :patch do %>
  <div>
    Username: <input type="text" name="username" value="<%= @user["username"] %>" />
  </div>
  <div>
    Bio: <input type="text" name="bio" value="<%= @user["bio"] %>" />
  </div>

  <input type="submit" name="" value="Update Profile"/>
<% end %>